<div class="bg-light text-dark rounded h-100 px-1">
  <table class="table table-sm">
    <tr>
      <td class="font-weight-bold">Total invested</td>
      <td>{{totalInvested | currency}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Current value</td>
      <td>{{currentValue | currency}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Profit</td>
      <td>{{currentValue | currency}}</td>
    </tr>
    <tr>
      <td class="font-weight-bold">Total fees</td>
      <td>{{totalFees | currency}}</td>
    </tr>
  </table>
</div>
